.body {
    border: solid;
    padding: 4px;
    align-items: center;
    height: 100%;
}

.other {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

fieldset {
    margin: 10px 0;
}
#behind30 {
    background-color:greenyellow;
}