* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    direction: ltr;
    font-size: 20px;
}

form {
    border: 3px solid black;
}

div {
    display: flex; 
    align-items: center;
    margin: 15px;
}

label {
    width: 220px; 
}

fieldset {
    width: 100%;
    margin: 10px 0;
    border: 2px ridge grey;
}

input[type="number"] {
    width: 400px;
    padding: 5px;
}

#ageInput {
    width: 200px;
}

h1 {margin-left: 15px;}

.green{
    background-color:greenyellow;
    display: block !important;
    /* width: 100%; */
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}